$colors: ("general_text_color": rgb(44, 47, 60), "button_bg": rgb(106, 152, 26));
$card_footer_color: rgb(192, 195, 201);
$header_bg: url(../img/m-h-day.jpg);
$card_footer_bg: rgb(33, 35, 46);
$underline_color: rgb(35, 160, 197);
$main_section_bg: white;
$banner_gradient: linear-gradient(to right, #1e5799 0%,#659321 0%,#659321 30%,#3260d3 100%);