$colors: ("general_text_color": white, "button_bg": rgb(226, 171, 39)); 
$card_footer_color: rgb(192, 195, 201);
$header_bg: url(../img/m-h-night.jpg);
$card_footer_bg: rgb(59, 63, 79);
$underline_color: rgb(252, 79, 60);
$main_section_bg: rgb(33, 35, 46);
$banner_gradient: linear-gradient(to right, #dba127 0%,#96354e 86%,#96354e 100%);
